<div class="row">
  <div class="span12">
     <h1 class="page-header"><style type="text/css">
        h1 { text-align:center; }
    </style>Featured Posts</h1>
    
    <% @randomPost.each do |post| %>
        <b><%= link_to "#{post.user.username}", "/#{post.user.username}" %></b>
    	<n style="font-size:10px">on
    	<%= post.created_at.strftime("%d %B %Y at %I:%M%p") %></n>
    	<p></p>
    	<%= post.text %>
    	<p></p>
    	<% if post.url.present? %>
        	<%= image_tag("#{post.url}", :height => '300', :width => '300') %>
        <% end %> 
        <hr>
        
    <% end %>

    
  </div>
</div>

